rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /rooms/{roomId}/{file} {
      function isMember() {
        return request.auth != null
          && request.auth.uid in firestore.get(/databases/(default)/documents/rooms/$(roomId)).data.members;
      }
      allow read: if isMember();
      allow create: if isMember()
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
